.elivator-pitch{
     position:absolute;
    top:0;
    width:100%;
    height:100%;
    z-index:-100;
}
.nav-z-index{
    z-index:2;
}
.video-z-index{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    z-index:-100;
}
.bg-nav{
    background-color: transparent;
}
.below-video{
    -webkit-transition: all .3s ease-in-out;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    
    z-index:100;
}

.show-block{
    display:block;
    
}
.video-view{
    max-height:none;
}
.currently-working-on{
    position:relative;
}
h1{
    font-size: 100px;
}
.icon-play{
    line-height:100px;
}

.btn-play{
    margin: 100px 0 110px;
}