<br>
<div class="row">
    <h2 class="mx-auto">Projects In Progress</h2>
    <br>
    <div class="row ">
        <div class="col-md-4" ng-repeat="project in listOfProjects.projects">
            <div class="card">
                <div class="card-header">
                    {{project.type}}
                </div>
                <img class="card-img-top" src="img/angular.jpg" alt="{{alttip}}"/>
                <div class="card-block">
                    <h4 class="card-title">{{project.title}}</h4>

                    <p class="card-text">{{project.description}}</p>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="row">
    <h2 class="mx-auto">Github Contributions</h2>
    <br>
    <div class="row ">
        <div class="col-md-4" ng-repeat="project in listOfProjects.projects">
            <div class="card">
                <div class="card-header">
                    {{project.type}}
                </div>
                <img class="card-img-top" src="img/angular.jpg" alt="{{alttip}}"/>
                <div class="card-block">
                    <h4 class="card-title">{{project.title}}</h4>

                    <p class="card-text">{{project.description}}</p>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="row">
    <h2 class="mx-auto">Projects Completed</h2>
    <br>
    <div class="row ">
        <div class="col-md-4" ng-repeat="project in listOfProjects.projects">
            <div class="card">
                <div class="card-header">
                    {{project.type}}
                </div>
                <img class="card-img-top" src="img/angular.jpg" alt="{{alttip}}"/>
                <div class="card-block">
                    <h4 class="card-title">{{project.title}}</h4>

                    <p class="card-text">{{project.description}}</p>
                    <a class="btn btn-primary"> See Design</a>
                    <a class="btn btn-primary"> See Code</a>
                </div>
                <div class="card-footer">

                </div>
            </div>

        </div>

    </div>

</div>